<div class="center">
  <canvas id="webgl-canvas"></canvas>
</div>

<script>
  import { onload } from './render';
  window.onload = onload;
</script>

<style>
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
