---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';

const pages = await getCollection('content');
---

<Layout>
  <div class="container">
    <h1>Three.js Chladni Figure</h1>
    <ul>
      {pages.map(page => (
        <li>
          <a href={`/${page.data.slug}`}>{page.data.title}</a>
        </li>
      ))}
    </ul>
  </div>
</Layout>

<style lang="scss">
  .container {
    margin: 2rem;

    ul {
      margin-top: 1rem;
      margin-left: 1.5rem;
      list-style: inherit;

      li {
        list-style: inherit;
      }
    }
  }
</style>